{% extends 'media/base.html' %}

{% load staticfiles %}

{% block main-media %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">

                <!-- CONTENT TITLE -->
                <div class="title">
                    <h1>Видео</h1>

                </div>

                <!-- VIDEO LIST -->
                <div class="media-list">
                    {% if videos %}
                        <ul class="list-inline list-unstyled">
                            {% for video in videos %}
                                <li>
                                    <a href="{% url 'media_detail' video.pk %}">
                                        <figure>
                                            <img {% if video.thumb_image %} src="{{ video.thumb_image.url }}" {% endif %} alt="">
                                            <i class="glyphicon glyphicon-play-circle"></i>
                                            <span class="date">{{ video.created_at }}</span>
                                            <figcaption>{{ video.title }}</figcaption>
                                        </figure>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        Пока что видео нет!
                    {% endif %}
                </div>
            </div><!-- col -->
            <div class="col-md-4">

            <!-- SIDE BAR -->
                <!-- TITLE -->
                <div class="title">
                    <h2>Ближайшие турниры</h2>
                </div>

                <!-- NEXT TOURNAMENTS LIST -->
                <ul class="tournaments">
                    <li>
                        <span class="tournaments-logo"><i class="icons icons-dota2"></i></span>
                        <span class="tournaments-body">
                            <h3>eurasia cyber sport 2016</h3>
                            <span class="date"><i class="icon-calendar"></i>29.01.2016(MSK)</span>
                            <span class="time"><i class="icon-clock"></i>10:00</span>
                        </span>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <span class="tournaments-logo"><i class="icons icons-legends"></i></span>
                        <span class="tournaments-body">
                            <h3>eurasia cyber sport 2016</h3>
                            <span class="date"><i class="icon-calendar"></i>29.01.2016(MSK)</span>
                            <span class="time"><i class="icon-clock"></i><span class="label label-live">Live</span></span>
                        </span>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <span class="tournaments-logo"><i class="icons icons-tanks"></i></span>
                        <span class="tournaments-body">
                            <h3>eurasia cyber sport 2016</h3>
                            <span class="date"><i class="icon-calendar"></i>29.01.2016(MSK)</span>
                            <span class="time"><i class="icon-clock"></i>10:00</span>
                        </span>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <span class="tournaments-logo"><i class="icons icons-tanks"></i></span>
                        <span class="tournaments-body">
                            <h3>eurasia cyber sport 2016</h3>
                            <span class="date"><i class="icon-calendar"></i>29.01.2016(MSK)</span>
                            <span class="time"><i class="icon-clock"></i>10:00</span>
                        </span>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <span class="tournaments-logo"><i class="icons icons-rpml"></i></span>
                        <span class="tournaments-body">
                            <h3>eurasia cyber sport 2016</h3>
                            <span class="date"><i class="icon-calendar"></i>29.01.2016(MSK)</span>
                            <span class="time"><i class="icon-clock"></i>10:00</span>
                        </span>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <span class="tournaments-logo"><i class="icons icons-dota2"></i></span>
                        <span class="tournaments-body">
                            <h3>eurasia cyber sport 2016</h3>
                            <span class="date"><i class="icon-calendar"></i>29.01.2016(MSK)</span>
                            <span class="time"><i class="icon-clock"></i>10:00</span>
                        </span>
                        <div class="clear"></div>
                    </li>
                </ul>

                <!-- TITLE -->
                <div class="title">
                    <h2>Наши Партнеры</h2>
                </div>

                <!--  PARTNERS LIST -->
                <ul class="partners">
			<li><a href="http://cybersport.ru/" target="_blank" rel="external"> <img src="{% static 'img/cybersport.ru.png' %}" alt="cybersport.ru"/></a></li>
                    <li><a href="#" target="_blank"><i class="icons icons-gamer"></i></a></li>
                    <li><a href="#" target="_blank"><i class="icons icons-cult"></i></a></li>
                    <li><a href="#" target="_blank"><i class="icons icons-gooddame"></i></a></li>
                    <li><a href="#" target="_blank"><i class="icons icons-sportcom"></i></a></li>
                </ul>
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
{% endblock %}

