{% load staticfiles misc tourney %}
<!-- SIDE BAR -->
<!-- TITLE -->
{% tourneys_block city %}
<!-- TITLE -->

<div class="title">
    <h2>Генеральный партнер</h2>
</div>
<ul class="partners">
    <li><a href="http://www.yota.ru/" target="_blank"> <img src="{% static 'img/yota_logo_website.png' %}" alt=""></a></li>
</ul>

<div class="title">
    <h2>Наши Партнеры</h2>
</div>
<!--  PARTNERS LIST -->
<ul class="partners">
    <li><a href="http://cybersport.ru" target="_blank"> <img src="{% static 'img/cybersport.ru.png' %}" alt=""></a></li>
</ul>
<!-- SIDE BAR -->